<div class=side-bar-header>
  <a href=**** class=user-name>username</a>
  <a href=**** class=create-room>チャットを作成する</a>
</div>

<div class=chat-rooms>
  <div class=rooms-list>
    <a href=**** class=chat-room>techroom1</a>
  </div>
  <div class=rooms-list>
    <a href=**** class=chat-room>techroom2</a>
  </div>
</div>