<div class=side-bar-header>
  <div class=user-name>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>

  <a href=**** class=create-room>チャットを作成する</a>
</div>

<div class=chat-rooms>
  <div class=rooms-list>
    <a href=**** class=chat-room>techroom1</a>
  </div>
  <div class=rooms-list>
    <a href=**** class=chat-room>techroom2</a>
  </div>
</div>