.wrapper{
  display: flex;
}


/* ----------------------------------------
      _side_bar
---------------------------------------- */

.side-bar{
  height: 100vh;
  width: 300px;
}

.side-bar-header{
  background-color: #253141;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
}

.user-name a{
  text-decoration: none;
  font-size: 16px;
  color: #fafafa;
}

.create-room{
  font-size: 10px;
  color: deepskyblue;
  border: solid 1px lightblue;
  padding: 14px;
}

.chat-rooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 0 20px;
  overflow: scroll;
}

.rooms-list{
  padding: 20px 0 40px;
}

.chat-room{
  color: white;
}



/* ----------------------------------------
      _main_chat
---------------------------------------- */

.main-chat{
  height: 100vh;
  width: calc(100vw - 300px);
}

.main-header{
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.room-name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.exit-btn{
  margin-top: 40px;
}

.exit-btn a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}

.main-display{
  background-color: #fafafa;
  height: calc(100% - 100px - 90px);
  width: 100%;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  margin:10px 0 40px;
}

.upper-message{
  display: flex;
}

.sender{
  font-size: 16px;
  color: #434a54;
  margin-right: 10px;
}

.send-date{
  font-size: 12px;
  color: #999;
}

.lower-message{
  margin-top: 10px;
}

.message-content{
  font-size: 14px;
  color: #434a54;
}

.main-footer{
  background-color: #dddddd;
  height: 90px;
  width: 100%;
  padding: 20px 40px;
  display: flex;
}

.message-form{
  background-color: white;
  margin-right: 15px;
  width: 100%;
  display: flex;
}

.input-text{
  height: 50px;
  width: 100%;
  border: none;
  padding-left: 10px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.send-btn{
  background-color: #38aef0;
  border: none;
  font-size: 16px;
  color: white;
  height: 50px;
  padding: 0 20px;
}