.wrapper{
  display: flex;
}

.side-bar{
  height: 100vh;
  width: 300px;
}

.side-bar-header{
  background-color: #253141;
  height: 100px;
  width: 100%;
  padding: 0 20px;
}

.chat-rooms{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 0 20px;
}

.main-chat{
  height: 100vh;
  width: calc(100vw - 300px);
}

.main-header{
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  padding: 0 40px;
}

.main-display{
  background-color: #fafafa;
  height: calc(100% - 100px - 90px);
  width: 100%;
  padding: 46px 40px 0;
}

.main-footer{
  background-color: #dddddd;
  height: 90px;
  width: 100%;
  padding: 20px 40px;
}